{* Шаблон вывода дополнительных страниц *}
<div class="block">
    <div class="clear"></div>

    <div class="name">
        <h1>{$page_h1}</h1>
    </div>

    <div class="text">
        {$page_content}
    </div>
</div>