{* Шаблон формы обратной связи *}
<!-- block -->
<div class="block">
    <div class="clear"></div>
    <div class="name">
        <h1>{$page_h1}</h1>
    </div>

    {if !$send_success }
    <div class="text">
        <p>{$CALLBACK_MESSAGE}</p>
    </div>
    <div class="blok">
        <img src="{$theme_path}/images/count-t.gif" width="557" height="9" alt="" class="count-t" />
        <ul class="ob">
            {foreach $errors->all() as $error}
            <li>{$error}</li>
            {/foreach}
        </ul>

        <form name="formfeedback" id="formfeedback" method="post" action="" class="niceform" style="overflow: hidden;">
            {csrf_field()}
            <div class="clear1"></div>

            <div class="div-l">
                <p>{$PHONE}*:</p>
            </div>
            <div class="div-r">
                <input type="text" name="phone" class="inp1" placeholder="{$PHONE_PLACEHOLDER|escape:html}" value="{$phone|escape:html}"/>
            </div>

            <div class="div-l">
                <p>{$NAME}</p>
            </div>
            <div class="div-r">
                <input type="text" name="name" class="inp1" placeholder="{$NAME_PLACEHOLDER|escape:html}" value="{$name|escape:html}"  />
            </div>
            <div class="clear1"></div>

            <div class="div-l">
                <p>{$CALLBACK_CUSTOMER_MESSAGE_TEXT}</p>
            </div>
            <div class="div-r area">
                <div class="txtarea">
                    <textarea name="message_text">{$message_text|escape:html}</textarea>
                    <img src="{$theme_path}/images/area_03.gif" width="412" height="12" alt="" class="count-b3"  />
                    <img src="{$theme_path}/images/area_01.gif" width="412" height="12" alt="" class="count-t3" />
                </div>
            </div>
            <div class="clear1"></div>
            <input type="submit" value="{$BUTTON_SEND}" style="float:right;margin-right:20px;padding: 5px;" />
            <div style="clear: both;">{$REQUIRES_FIELDS}</div>
        </form>
        <img src="{$theme_path}/images/count-b.gif" width="557" height="9" alt="" class="count-b" />
    </div>
    {else}
    <div class="text">{$CALLBACK_SENT_SUCCESSFULLY}</div>
    {/if}
    <div class="text">
        <h2>{$WRITE_US_EMAIL} <a href="mailto:{$DOMAIN_EMAIL}">{$DOMAIN_EMAIL}</a></h2>
    </div>
</div>
