{* Общий шаблон для категорий *}

<div class="block" style="width: 625px; padding: 5px 0 20px 44px;">
	<div class="clear"></div>
	<div class="name">
		<h1 style="margin: 0 0 15px -35px;">{$page_h1|escape:'html'}</h1>
	</div>

    {* Фильтр по типам карт (пока не использовался, не тестировался) *}
	{* if ($products_to_show || $smarty.get.maps_sort>0 ) }
        {include file='category/category_type_filter.tpl.html'}
	{/if *}

    {* Товары категории *}
 	{if $products}
    	<ul class="cat_product">
			{section name=i1 loop=$products}
                {* Шаблон короткого описния товара *}
				{include file="category/product_brief.tpl.html" product_info=$products[i1] }
			{/section}
    	</ul>
    {/if}

    {* Cсылка на редактирование *}
    {if $edit_url}<a href="{$edit_url}" >{$EDIT_CATEGORY}</a>{/if}

	<div class="clear"></div>

    {* Cсылки на города и районы в выбранной категории *}
    {include file='common/subs.tpl.html' GroupList=$inner_childs_grouped_by_type}

    {* Cсылки на районы в выбранной категории *}
    {* include file='common/subs.tpl.html' subcategory=$regions page_h2=$MAPS_FOR_REGIONS *}

    {* Cсылки на города в выбранной категории *}
    {include file='common/countries.tpl.html' subcategory=$regions page_h2=$MAPS_FOR_REGIONS}

	{* Описание категории *}
    {if $description }
		<div class="opis">
			<div class="name">
                <h2>{$MAPS_DESCRIPTION} {$genitive}</h2>
			</div>
			<div class="txt">{$description}</div>
		</div>
    {/if}

    {* Список дочерних категорий сгруппированных по типу *}
    {* Список дочерних категорий *}
    {* include file='common/sys/ChildsListGroupedByType.tpl.html' GroupList=$inner_childs_grouped_by_type ListName='Дочерние категории сгруппированные по типу' *}

    {* Список дочерних категорий *}
    {* include file='common/sys/ChildsList.tpl.html' List=$inner_childs ListName='Дочерние категории' *}

    {* Список дочерних товаров *}
    {* include file='common/sys/ChildsList.tpl.html' List=$outer_childs ListName='Дочерние товары' *}

</div>
