{* Шаблон блока новостей и рекомендуемых карт*}

{if $recomeds1 != '' }
    {*babenkoma*}
    <div class="news" align="center">
    {*babenkoma\*}
        {foreach $recomeds1 as $product}
            <div class="prod"><p class="name"><a href="{$product.UID}.html">{$product.name}</a></p>
            <div class="foto"><a href="{$product.UID}.html"><img alt="{$product.name}" src="/{$product.img}" width="125"></a></div>
            <p class="price">{$product.Price}</p></div>
        {/foreach}
        
        {*
        {foreach $recomeds2 as $product2}
            <div class="prod"><p class="name"><a href="{$product2.UID}.html">{$product2.name}</a></p>
            <div class="foto"><a href="{$product2.UID}.html"><img alt="" src="{$product2.img}" width="125"></a></div>
            <p class="price">{$product2.Price}</p></div>
        {/foreach}
        *}
    </div> 
{/if}