<script type="text/javascript">
    product={$productJson};
</script>
{*
id: 100500,
name:'Name',
price: 1000
*}
{literal}
<script type="text/javascript">
    $(function () {
        var email = $("#email"),
                allFields = $([]).add(email),
                tips = $(".validateTips");

        function updateTips(t) {
            tips
                    .text(t)
                    .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function checkLength(o, n, min, max) {
            if (o.length > max || o.length < min) {
                return false;
            } else {
                return true;
            }
        }

        function checkEmail(str){
            if(!checkLength(str, "email", 3, 50)) return false;
            var dogPos = str.indexOf('@');//не первый символ
            if(dogPos<1) return false;

            var dotPos = str.indexOf('.',dogPos);
            if((dotPos<dogPos+2) || (dotPos==(str.length-1))) return false;//не сразу после @ и не последний
            return true;
        }

        function checkRegexp(o, regexp, n) {
            if (!( regexp.test(o.val()) )) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        $("#dialog-form").dialog({
            autoOpen: false,
            /*height: 220,*/
            width: 350,
            modal: true,
            closeOnEscape: true,
            draggable: false,
            buttons: {
                "": function () {
                    //var bValid = true;
                    var bValid = checkEmail(email.val());
                    allFields.removeClass("ui-state-error");

                    if (bValid) {

                        var inputMail = email.val();
                        Cookies.set('email', inputMail);
                        $('#WMI_DESCRIPTION').val($('#description').val() + ' - ' + inputMail);
                        $('#WMI_CUSTOMER_EMAIL').val(inputMail);
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "/add_order.php",
                            data: {
                                email: inputMail,
                                itemID: product.id,
                                name: product.name,
                                price: product.price
                            },
                            cache: false,
                            success: function (responce) {
                                $('#dialog-form').dialog("close");
                                //$('.user_id').val(responce.user_id);
                                //$('.order_id').val(responce.order_id);
                                //var order_id = responce.order_id;
                                //$('#nInvId').val(responce.order_id);
                                $('#w1').submit();
                            }
                        });
                    }else{
                        email.addClass("ui-state-error");
                        updateTips("Введите, пожалуйста, E-Mail ");
                    }
                }
            },
            close: function () {
                allFields.val("").removeClass("ui-state-error");
            },
            open: function(){
                var cookieEmail = Cookies.get('email');
                if(cookieEmail) email.val(cookieEmail);
            }
        });


        /*        $("ul.payment_list div a[class!=no_open]")
         .click(showEmailDialog());
         */

    });
    function showEmailDialog(){
        $("#dialog-form").dialog("open");
        return false;
    }

</script>
{/literal}

<form method="post" action="https://merchant.w1.ru/checkout/default.aspx" name="w1" id="w1"
      onsubmit="yaCounter179353.reachGoal('ORDER'); return true;" accept-charset="UTF-8">
    <input name="WMI_MERCHANT_ID" type="hidden" value="{$sMerchantLogin}"/>
    <input name="WMI_PAYMENT_AMOUNT" type="hidden" value="{$nOutSum}"/>
    <input name="WMI_CURRENCY_ID" type="hidden" value="{$w1_currency_id}"/>
    <input name="WMI_DESCRIPTION" type="hidden" value="{$Desc}" id="WMI_DESCRIPTION"/>
    <input name="description" type="hidden" value="{$Desc}" id="description"/>
    {* <input name="WMI_PTENABLED" type="hidden" value="" id="WMI_PTENABLED"/> *}

    <input name="WMI_PTDISABLED" type="hidden" value="WalletOne"/>
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneRUB" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneUAH" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneUSD" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneEUR" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneZAR" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneBYR" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneGEL" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneKZT" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOnePLN" />
    <input name="WMI_PTDISABLED" type="hidden" value="WalletOneTJS" />

    <input name="WMI_SUCCESS_URL" type="hidden" value="{$w1_success_url}"/>
    <input name="WMI_FAIL_URL" type="hidden" value="{$w1_fail_url}"/>
    <input name="user_id" type="hidden" class="user_id" value=""/>
    <input name="order_id" type="hidden" class="order_id" value=""/>
    <input name="WMI_CUSTOMER_EMAIL" id="WMI_CUSTOMER_EMAIL" type="hidden" value=""/>
    <div id="dialog-form" style="display: none;" title="Введите Ваш E-Mail:">
        <p class="validateTips"></p>
        <fieldset>
            <label for="email">E-Mail</label>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all"/>
        </fieldset>
    </div>
</form>
