{* Шаблон детального описания товара *}

<script type="text/javascript" src="{$theme_path}/lightbox/js/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript" src="{$theme_path}/lightbox/js/lightbox.js"></script>
<link href="{$theme_path}/lightbox/css/lightbox.css" rel="stylesheet" />

<div class="block" style="width: 745px;">
	<div class="clear"></div>
	<div class="icons" style="height:72px">
		{* Хлебные крошки *}
        {include file="common/breadcrumbs.tpl.html"}

        <div class="name"><h1>{$page_h1}</h1></div>
	</div>

	<div class="tov">
        {* Картинки товара *}
        {include file="product/images.tpl.html"}

        <div class="clear"></div>

        {* Цена и кнопки купить *}
        <div class="buy" style="margin-top:30px;">
            {* Кнопка купить *}
            {include file="product/buy_button.tpl.html" BuyButton=$buy_button ButtonType='big' }

            <span>{$price}{$PRICE_CURRENCY}</span>
            <div class="ways" >
                {* <noindex><p><a href="{$other_payment_method_url}">{$OTHER_PAYMENT_METHODS}</a></p></noindex> *}
            </div>
            <div class="clear"></div>
        </div>
	</div>
	
	{if $description}{$description}{/if}
	
	<div class="buy1">
        {* Кнопка купить *}
        {include file="product/buy_button.tpl.html" BuyButton=$buy_button ButtonType='big' }
      	<span>{$price} {$PRICE_CURRENCY}</span>
		<div class="clear"></div>
	</div>
</div>

{include file='product/payment.tpl.html'}

{* Список дочерних подтоваров *}
{include file='common/sys/ChildsList.tpl.html' List=$outer_childs ListName='Дочерние подтовары'}

{* Смотрите также *}
{* include file="product/related2.tpl.html" *}
