{* Шаблон вывода результатов простого поиска товаров *}

<div class="block">
	<div class="clear"></div>
	<div class="name">
  		<h1 class="center">Поиск карт</h1>
	</div>
    {include file='search_form.tpl.html'}

    <div class="inn">
		{* Вывод найденных категорий *}
		{if $results}
			<div class="resultat">
          		<p>По запросу "<b>{$str}</b>" найдено категорий: <strong>{count($results)}</strong></p>
			</div>

			<div id="results">		
			    {section name=i1 loop=$results }
					{if  $smarty.section.i1.iteration%2!=1}
						{assign var="class" value="white"}
					{else}
						{assign var="class" value="gray"}
					{/if}
                    {$result=$results[i1]}
  					<div class="{$class}">
						<p><a href="{$result['url']}">{$result['name']}</a></p>
					</div>
				{/section}
			</div>

	    {else}
        	<br><p class="empty">По запросу "{$str}" {$SEARCH_NOT_FOUND}</p>
		{/if}
		<div class="clear"></div>
    </div>
</div>