{* Шаблон блока поиска товаров *}

<form action="/search" method="get" id="searchformblock2">
    <div class="search">
        <div class="clear"></div>
        <div class="inp1">
            <input type="text" name="str" value="{$str|htmlspecialchars}"
            />
        </div>
        <input type="image" src="{$theme_path}/images/search.gif" class="se"/>
        <div class="clear"></div>
    </div>
</form>