﻿{function name=cats_tree parent_id=0}
<ul class="level_{$level}">
    {$prev_type = null}
    {foreach $list as $item}
        {$li_class = ''}
        {if ($item['childs'] or ( $url == $item['url']))}{$li_class='class="sel"'}{/if}

        {$cur_type=$item['type_id']}
        {if ($item@first or ($cur_type != $prev_type)) and isset($category_type[$cur_type])}
            <h2 class="type">{$category_type[$cur_type][1]|capitalize}</h2>
        {/if}
        <li {$li_class} ><a href="{$item['url']}" {$li_class}>{$MAPS} {$item['menu_tree_name']}</a>
            {if $item['childs']}
                {call name=cats_tree list=$item['childs'] level=$level}
            {/if}
        </li>
        {$prev_type = $cur_type}
    {/foreach}
</ul>
{/function}


{function name=print_link}
    {$link=$item['link']}
    <a href="{$link['url']}" {$class} >{$MAPS} {$link['menu_tree_name']}</a>
    {if $item['childs']}
        {call name=cats_tree_new list=$item['childs'] level=$level+1}
    {/if}
</li>

{/function}

{function name=print_group}
    {$GroupId=$item['group']}
    {if isset($category_type[$GroupId])}{$GroupName=$category_type[$GroupId][1]}{/if}
    <h2 class="type">{$GroupName|capitalize}</h2>
    {call name=cats_tree_new list=$item['childs'] level=$level}
{/function}


{function name=cats_tree_new}
<ul class="level_{$level}">
    {foreach $list as $item}
        {$li_class = ''}
        {if isset($item['link'])}
            {$link=$item['link']}
            {if ($item['childs'] or ($url == $link['url']) or $item['hrc'])}{$li_class='class="sel"'}{/if}
            <li {$li_class} >{call name=print_link class=$li_class}</li>
        {elseif isset($item['group'])}
            <li {$li_class} >{call name=print_group}</li>
        {/if}
    {/foreach}
</ul>
{/function}

        {*
<div id="cat_tree">
    {assign var="level" value="1"}
    {call name=cats_tree list=$store_tree}
</div> *}

<div id="cat_tree">
    {assign var="level" value="1"}
    {call name=cats_tree_new list=$store_tree}
</div>