{* Шаблон короткого описния товара *}
{if $product_info}
	<li>
		<div class="prod1">
			<p class="nazv">
				<a href="{$product_info.url}">
					{if $product_info.name|strlen < 37}
                        {$product_info.name}
					{else}
                        {$product_info.name|replace:$MAP:"`$MAP`<br />"}
					{/if}
				</a>
			</p>
			<div class="foto">
  				{if $CATEGORY_PRODUCT_IMG_WARNING != ''}
                    <div class="map_warning2">{$CATEGORY_PRODUCT_IMG_WARNING}</div>
                {/if}

                {if $product_info.main_picture}
                    {$product_image=$product_info.main_picture}
                {else}
                    {$product_image="{$theme_path}/{$NO_PHOTO_IMAGE}"}
                {/if}

				<a href="{$product_info.url}"><img src="{$product_image}" width="240" height="240"  alt="{$product_info.name}" /></a>
			</div>
		</div>
	</li>
{/if}