{* Фильтр по типам карт (не используется, не тестировался) *}
<noindex>
    <div class="icons">
        <div class="ic">
            <img src="{$theme_path}/images/ic1.gif" width="19" height="20" alt="" />
            <a {if $smarty.get.maps_sort<1} class="typeact" {/if} href="index.php?categoryID={$categoryID}">{$smarty.const.TPL_CATEGORY_MAP_TYPE_ALL}</a>
        </div>

        <img src="{theme_path}/images/razd1.gif" width="1" height="22" alt="" />
        <div class="ic">
            <img src="{theme_path}/images/ic2.gif" width="21" height="20" alt="" />
            <a {if $smarty.get.maps_sort==1} class="typeact" {/if} href="index.php?categoryID={$categoryID}&maps_sort=1">{$smarty.const.TPL_CATEGORY_MAP_TYPE_SPUTNIK}</a>
        </div>

        <img src="{theme_path}/images/razd1.gif" width="1" height="22" alt="" />
        <div class="ic">
            <img src="{theme_path}/images/ic3.gif" width="23" height="22" alt="" />
            <a {if $smarty.get.maps_sort==2} class="typeact" {/if} href="index.php?categoryID={$categoryID}&maps_sort=2">{$smarty.const.TPL_CATEGORY_MAP_TYPE_TOPO}</a>
        </div>

        <img src="{theme_path}/images/razd1.gif" width="1" height="22" alt="" />
        <div class="ic">
            <img src="{theme_path}/images/ic4.gif" width="15" height="22" alt="" />
            <a {if $smarty.get.maps_sort==3} class="typeact" {/if} href="index.php?categoryID={$categoryID}&maps_sort=3">{$smarty.const.TPL_CATEGORY_MAP_TYPE_VECTOR_GPS}</a>
        </div>
    </div>
    {if $string_product_sort}{$string_product_sort}{/if}
</noindex>

