<div class="push"></div>
<div id="footer">
    <div class="call">
        <div class="numb">{$ContactPhoneNumber}</div>
    </div>
    <div id="">
        <div class="copy"></div>
        <div class="count1"></div>
        <div class="counters" >
            {foreach $counters as $counter}

                {$counter}
            {/foreach}
        </div>
    </div>
</div>
