{* Page Header *}
<div id="header">
    {* Logo & Descriptor *}
    <div class="logo">
        <a href="/"><img src="{$theme_path}/images/logo.gif" alt="" /></a>
        <div>
            <a href="/"><span id="maps">{$DomainRegion}</span><span id="shop">{$DomainEnds}</span></a>
        </div>
        <a href="/"><span id="logo_comment">{$DomainDescription}</span></a>
    </div>

    {* Main menu *}
    <div class="menu" {if $product}style="right: 0px;"{/if}>
    <a href="/" class="first">{$main_menu.home}</a>
    <img src="{$theme_path}/images/razd.gif" width="1" height="30" alt="" />
    <a href="/kak_poluczit_kartu" onclick="return showAjaxWindow(this)">{$main_menu.how_get_map}</a>
    <img src="{$theme_path}/images/razd.gif" width="1" height="30" alt="" />
    <a href="/garantii" onclick="return showAjaxWindow(this);">{$main_menu.warranty}</a>
    <img src="{$theme_path}/images/razd.gif" width="1" height="30" alt="" />
    <a href="/feedback" class="last">{$main_menu.contacts}</a>
</div>

{* Contacts *}
<div class="tel" {if $product}style="left: 685px;"{/if}>
<div class="numb">{$ContactPhoneNumber}</div>
{* <a href="/callback">{$REQUST_CALLBACK}</a> *}
<a href="/feedback">{$WRITE_EMAIL}</a>
</div>
</div>
