﻿{* Шаблон заголовков сайта *}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={$html_charset}" />
	<title>{$page_title}</title>

	{* мета теги *}
	<meta name="description" content="{$meta_description}" />
	<meta name="keywords" content="{$meta_keywords}" />

    <link rel="icon" type="image/x-icon" href="{$theme_path}/images/favicon.ico"  />
    <link rel="shortcut icon" type="image/x-icon" href="{$theme_path}/images/favicon.ico" />

    <!-- Niceforms -->
    <script language="javascript" type="text/javascript" src="{$theme_path}/js/niceforms.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{$theme_path}/styles/niceform.css" />

    <link rel="stylesheet" type="text/css" media="print" href="{$theme_path}/styles/styleprint.css" />

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>

	{*babenkoma*}
	{*ajax-окно*}
	<link type="text/css" rel="stylesheet" href="{$theme_path}/ui/jquery-ui-1.10.2.custom.min.css" />
	<script type="text/javascript" src="{$theme_path}/ui/jquery-ui-1.10.2.custom.min.js"></script>
	{*babenkoma\*}

	<script type="text/javascript" src="{$theme_path}/js/user_src2.js"></script>
    <script type="text/javascript" src="{$theme_path}/js/js.cookie.js"></script>

    <link rel="stylesheet" href="{$theme_path}/styles/style_new.css" type="text/css" media="screen" />

    <!-- Fancybox -->
    <link rel="stylesheet" type="text/css" media="screen"  href="{$theme_path}/fancybox/jquery.fancybox-1.3.4.css" />
    <script type="text/javascript" src="{$theme_path}/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{$theme_path}/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

    {*literal}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("div.menu a").fancybox({
                'width'				: '75%',
                'height'			: '75%',
                'autoScale'     	: false,
                'transitionIn'		: 'none',
                'transitionOut'		: 'none',
                'type'				: 'iframe'
            });
        });
    </script>
    {/literal*}
</head>