{if $GroupList}
    <h2>{$ListName}</h2>
    {foreach $GroupList as $GroupKey => $List}
        <h3>{$MAPS} {$category_type[$GroupKey]} (GroupKey={$GroupKey})</h3>
        <ul>
            {foreach $List as $Item}
            <li><a href="{$Item['url']}">{$Item['menu_tree_name']}</a></li>
            {/foreach}
        </ul>
    {/foreach}
{/if}