{* Кнопка купить *}
{* //TODO: доделать чтобы обязательные поля формы подставлялись, а сама кнопка стилизовалась с этом шаблоне *}

<form action="{$BuyButton.url}" method="{$BuyButton.method}" name="robokassa" id="w1" >
    {foreach $BuyButton.params as $name => $value}
        {if !is_array($value)}<input type="hidden" name="{$name}" id="{$name}" value="{$value}">
        {else}
            {foreach $value as $subvalue}<input type="hidden" name="{$name}" id="{$name}" value="{$subvalue}">{/foreach}
        {/if}
    {/foreach}

    {$images = ['small' => 'crt.gif', 'big' => 'buy2.gif']}
    {* TODO: имена файлов в конфиги *}
    {$image = $images[$ButtonType]}
    <input name="robo" type="image" src="{$theme_path}/images/{$image}" alt="{$BUY}"  onclick="return showEmailDialog();" />
</form>
