{* Картинки товара *}
    {* Большая картинка *}
    <div class="tov-l">
        {* Делаем большой первую картинку *}
        {if !$pictures}
            {$full_picture="{$theme_path}/{$NO_PHOTO_IMAGE}"}
            {$big_picture = $full_picture}
        {else}
            {$full_picture = $pictures[0]['full'] }
            {$big_picture = $pictures[0]['big']}
        {/if}
        <a href="{$full_picture}" rel="lightbox[]"  title="{$name}">
            <div class="map_warning">{$IMAGE_TEXT_WARNING}</div>
            <img src="{$big_picture}" style="height:380px; width:380px;"  alt="{$name}" />
        </a>
    </div>

{if $pictures}
   {* Маленькие картинки справа от большой *}
    <div class="tov-r">
        <div class="in">
            {$max = (count($pictures)>5) ? 5 : count($pictures)-1}
            {for $i=1 to $max}
                <a href="{$pictures[$i]['full']}" class="highslide" ><img src="{$pictures[$i]['small']}" alt="{$name}" hspace="2"  /></a>
            {/for}
        </div>
    </div>
    <div class="clear"></div>
{/if}