{* Смотрите также *}
{if $product_info.related2}
    <div class="smt">
        <p>Смотрите также:</p>
        {foreach $product_info.related2 as $related}
            <div class="smt_link">
                <a href="{$related.url}">{$related.name}</a><span> {$related.sim_text}</span>
            </div>
        {/foreach}
    </div>
{/if}
