{* Страница Все страны *}
{if $subs and !$products_to_show}
    <div class="countries">
        <img src="{$theme_path}/images/count-t.gif" width="557" height="9" alt="" class="count-t" />
        <img src="{$theme_path}/images/count-b.gif" width="557" height="9" alt="" class="count-b" />
        {foreach $subs as $sub}
            <a href="{$sub.url}">{$sub.name}</a>
        {/foreach}
    </div>
{/if}
