{* Cсылки на города/районы в выбранной категории *}

{if $GroupList}
    {foreach $GroupList as $GroupKey => $List}
        <div class="name">
            <h2>{$MAPS} {$category_type[$GroupKey][2]} {$genitive}</h2>
        </div>
        <div class="clear"></div>
        <div class="action">
            <ul>
                {foreach $List as $Item}
                    <li>
                        <div class="wrap">
                            <div  class="valign-center">
                                <a href="{$Item['url']}" >{$MAPS} {$Item['menu_tree_name']}</a>
                                <div class="just-for-IE"></div>
                            </div>
                        </div>
                    </li>
                {/foreach}
            </ul>
        </div>
        <div class="clear"></div>
        <br>
    {/foreach}
{/if}
